<!DOCTYPE html>
<html>
<head>
 <title>Fuel Quote History</title>
 <link rel="stylesheet" href="style3.css">
</head>
<body>
    {{{body}}}
</body>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>