   <form method="post" action="/account">
      <h1>Account Management</h1>
        <input type="text" id="fullName" name="fullName" placeholder="Full Name" required min="3" max="50">
        <input type="text" required id="Address1" name="Address1" placeholder="Address 1" required min="3" max="100">
        <input type="text" optional id="Address2" name="Address2" placeholder="Address 2 (optional)" optional min="3" max="100">
        <input type="text" required id="City" name="City" placeholder="City" required min="3" max="100">
        <input list="State" id="states" name="states" placeholder="State"/>
        <datalist id="State">
          <option value="AL">
          <option value="AK">
          <option value="AZ">
          <option value="AR">
          <option value="CA">
          <option value="CO">
          <option value="CT">
          <option value="DE">
          <option value="DC">
          <option value="FL">
          <option value="GA">
          <option value="HI">
          <option value="ID">
          <option value="IL">
          <option value="IN">
          <option value="IA">
          <option value="KS">
          <option value="KY">
          <option value="LA">
          <option value="ME">
          <option value="MD">
          <option value="MA">
          <option value="MI">
          <option value="MN">
          <option value="MS">
          <option value="MO">
          <option value="MT">
          <option value="NE">
          <option value="NV">
          <option value="NH">
          <option value="NJ">
          <option value="NM">
          <option value="NY">
          <option value="NC">
          <option value="ND">
          <option value="OH">
          <option value="OK">
          <option value="OR">
          <option value="PA">
          <option value="RI">
          <option value="SC">
          <option value="SD">
          <option value="TN">
          <option value="TX">
          <option value="UT">
          <option value="VT">
          <option value="VA">
          <option value="WA">
          <option value="WV">
          <option value="WI">
          <option value="WY">
        </datalist>
        <input type="text" required id="Zipcode" name="Zipcode" placeholder="Zipcode" required min="5" max="9">
      <input type="submit" onclick="complete_profile()" value="Complete Profile Form">
    </form>