<div class="loginbox">
    <h1>Account Registration</h1>
    <form method="post" action="/register">
      <div class="text_field">
        <input name="username" type="text" required>
        <span></span>
        <label>Create a Username</label>
      </div>
      <div class="text_field">
        <input name="password" type="password" required>
        <span></span>
        <label>Create a Password</label>
      </div>
      <input type="submit" onclick="register()" value="Register">
      <div class="login_link">
        <a href="/">Return To Login</a>
      </div>
    </form>
  </div>